@import './base.css';

#app {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

@media (max-width: 768px) {
  #app {
    padding: 1rem;
  }
}